# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\fuckultate\an3\sem2\vvss\lab2\2021-SSVV-CVlad-CDragos-Archetype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
